<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #154279;"></span>
		<span class="sg-label">#154279</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1d8ac2;"></span>
		<span class="sg-label">#1d8ac2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #44acd7;"></span>
		<span class="sg-label">#44acd7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #339fd3;"></span>
		<span class="sg-label">#339fd3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #b1d0e7;"></span>
		<span class="sg-label">#b1d0e7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #959595;"></span>
		<span class="sg-label">#959595</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8c8c8c;"></span>
		<span class="sg-label">#8c8c8c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #717171;"></span>
		<span class="sg-label">#717171</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5a5a5a;"></span>
		<span class="sg-label">#5a5a5a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dddddd;"></span>
		<span class="sg-label">#dddddd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFB900;"></span>
		<span class="sg-label">#ffb900</span>
	</li>

</ul>