html {
  height: 100%;
}

body {
  @include background-image(linear-gradient($main-bg));
  background-repeat: repeat-x;
  background-attachment: fixed;
  height: 100%;
  font-size: $base-font-size;
  font-family: $font;
  color: $base-font-color;
  width: em(1001px); // move to layout container
  margin: 0 auto; // move to layout container
}
