/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	color: $white;
	line-height: 1.2;

	a {
		color: $white;
	}
}

//Footer Nav
.nav-footer {

	li {
		border-bottom: 1px solid $charcoal;

		@media all and (min-width: $bp-med) {
			border: 0;
			float: left;
		}
	}

	a {
		display: block;
		padding: $pad;
	}
}

.copyright {
	@media all and (min-width: $bp-med) {
		float: right;
	}
}