<div id="page-wrapper">
  <div id="page">

    <div id="main-wrapper">
      <div id="main" class="clearfix">

        <div id="content" class="column">
          <div class="section">
            <a id="main-content"></a>
            <h1 class="title" id="page-title">admin</h1>
            <div class="tabs">
              <h2 class="element-invisible">Primary tabs</h2>
                <ul class="tabs primary">
                <li class="active"><a href="/user/1" class="active">View<span class="element-invisible">(active tab)</span></a></li>
                <li><a href="/user/1/edit">Edit</a></li>
              </ul>
            </div>
            <div class="region region-content">
              <div id="block-system-main" class="block block-system">

    
                <div class="content">
                  <div class="profile">
                    <h3>History</h3>

                    <dl>
                      <dt>Member for</dt>
                      <dd>2 hours 1 min</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /.section, /#content -->

        <div id="sidebar-first" class="column sidebar">
          <div class="section">
            <div class="region region-sidebar-first">
              <div id="block-system-navigation" class="block block-system block-menu">

                <h2>Navigation</h2>
    
                <div class="content">
                  <ul class="menu">
                    <li class="first last leaf"><a href="/node/add">Add content</a></li>
                  </ul>
                </div>
              </div>
              <div id="block-system-management" class="block block-system block-menu">

                <h2>Management</h2>
              
                <div class="content">
                  <ul class="menu">
                    <li class="first last collapsed"><a href="/admin">Administration</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /.section, /#sidebar-first -->
      </div>
        
      {{> templates-homepage }}
    </div> <!-- /#main, /#main-wrapper -->

  </div>
</div> <!-- /#page, /#page-wrapper -->
