<!-- Begin .header -->
<header class="header cf" role="banner">
  <span class="header-nav nav-tickets">
    <a href="#">Buy Tickets</a>
  </span>
	{{> atoms-logo }}
  <span class="header-nav nav-my-account">
	 <a href="#"><span>My Account</span></a><a href="#" class="sign-up"><span>Sign Up</span></a>
  </span>
  <ul class="header-nav">
    <li><span>Need help? call 1-888-762-0820</span></li>
    <li><span>Welcome to the official universal orlando online merchandise store</span>
    <li><span>Cart<span class="">(empty)</span> | checkout</span></li>
  </ul>
      
	
	<!-- {{> molecules-search }} -->
</header>
<!-- End .header --> 