    <div id="header">
      <div class="section clearfix">

        <a href="/" title="Home" rel="home" id="logo">
          {{> atoms-logo }}
        </a>
      
        <div id="name-and-slogan">
          <div id="site-name">
            <strong><a href="/" title="Home" rel="home"><span>drupal1.local</span></a></strong>
          </div>
                      
        </div> <!-- /#name-and-slogan -->
      
        <div class="region region-header">
          <div id="block-menu-menu-header-store-menu" class="block block-menu">

    
            <div class="content">
              <ul class="menu">
                <li class="first last leaf"><a href="/" title="">Buy Tickets</a></li>
              </ul>
            </div>
          </div>
          <div id="block-system-user-menu" class="block block-system block-menu">

    
            <div class="content">
              <ul class="menu">
                <li class="first leaf"><a href="/user">My account</a></li>
                <li class="last leaf"><a href="/user/logout">Log out</a></li>
              </ul>
            </div>
          </div>
          <div id="block-menu-menu-header-shopping-menu" class="block block-menu">

    
            <div class="content">
              <ul class="menu">
                <li class="first leaf"><a href="/" title="">Cart (empty)</a></li>
                <li class="last leaf"><a href="/" title="">Checkout</a></li>
              </ul>
            </div>
          </div>
          <div id="block-block-2" class="block block-block">

    
            <div class="content">
              <p>Welcome to the Official Universal Orlando Online Merchandise Store</p>
            </div>
          </div>
          <div id="block-block-1" class="block block-block">

    
            <div class="content">
              <p>Need Help? Call 1-888-762-0820</p>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- /.section, /#header -->
