//Colors

$white : #fff;
$black : #000;

/* custom colors */

$blue-royal: #154279;
$blue: #1d8ac2;
$blue-baby: #44acd7;
$blue-light: #339fd3;
$blue-sky: #b1d0e7;
$gray: #959595;
$gray-med: #8c8c8c;
$gray-dark: #717171;
$charcoal: #5a5a5a;
$ghost: #ddd;
$carrot: #ffb900;

$main-bg: #005d97 0%,#006dab 6%,#0076b6 11%,#007db7 26%,#0073ab 36%,#006095 43%,#005b8d 47%,#005683 49%,#005483 50%,#004a74 54%,#003f66 60%,#003d61 61%,#00385c 64%,#002444 71%,#002241 100%;
$header-nav-bg: #2189c6 0%,#1e7eb8 15%,#196ca1 33%,#14517e 56%,#0e355a 81%,#0c2748 100%;