/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

 // TODO: work in progress / update this

//Layout
$max-width: 72em;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;


//Breakpoints
//$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
//$bp-large : 50em;
$bp-large-2 : 66em;
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;

$breakpoint-to-ems: true;

// t-shirt size breakpoints
$bp-medium   : 645px;
$bp-small    : max-width $bp-medium;
$bp-medium__end    : 959px;
$bp-large    : 960px;
$bp-xl       : 1024px;
$bp-leaderboard_desktop: 730px;

//

$content-padding: 10px;
$grid-item-width: 300px;

//////////////////////
// SINGULARITY GRIDS
// grid breakpoints
$bp-grid-4          : 701px;
// grid definitions
$grid-2             : 2;
$grid-2-gutter      : ((($bp-medium - ($content-padding * 2)) / $grid-2) - $grid-item-width) / $grid-item-width;
$grid-3             : 3;
$grid-3-gutter      : ((($bp-large - ($content-padding * 2)) / $grid-3) - $grid-item-width) / $grid-item-width;
$grid-4             : 4;
$grid-4-gutter      : 1/16;
$grid-5             : 5;
$grid-7             : 7;
$grid-7-gutter      : 1/10;
$grid-video-one-line: 9 11;